<%= provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, magnam, culpa commodi error quos consequatur quis deleniti rem totam dolorem quidem in minima voluptates placeat beatae incidunt reprehenderit. Beatae, sapiente.
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, eum, fugiat, optio qui sapiente ratione error corporis magni molestiae accusantium asperiores itaque laudantium architecto explicabo veniam voluptate ad ea neque!</p>
